In [1]:
#Dependencies
import os
import numpy as np
import pandas as pd

In [2]:
#import csv data
sept =pd.read_csv('Data/JC-202209-citibike-tripdata.csv',)
aug = pd.read_csv('Data/JC-202208-citibike-tripdata.csv',)
jul = pd.read_csv('Data/JC-202207-citbike-tripdata.csv',)
jun = pd.read_csv('Data/JC-202206-citibike-tripdata.csv',)
may = pd.read_csv('Data/JC-202205-citibike-tripdata.csv',)

In [3]:
#drop any rows with missing data for September
sept = sept.dropna(how='any')

sept.count()

ride_id               103895
rideable_type         103895
started_at            103895
ended_at              103895
start_station_name    103895
start_station_id      103895
end_station_name      103895
end_station_id        103895
start_lat             103895
start_lng             103895
end_lat               103895
end_lng               103895
member_casual         103895
dtype: int64

In [4]:
#drop any rows with missing data for August
aug = aug.dropna(how='any')

aug.count()

ride_id               114840
rideable_type         114840
started_at            114840
ended_at              114840
start_station_name    114840
start_station_id      114840
end_station_name      114840
end_station_id        114840
start_lat             114840
start_lng             114840
end_lat               114840
end_lng               114840
member_casual         114840
dtype: int64

In [5]:
#drop any rows with missing data for July
jul = jul.dropna(how='any')

jul.count()

ride_id               108115
rideable_type         108115
started_at            108115
ended_at              108115
start_station_name    108115
start_station_id      108115
end_station_name      108115
end_station_id        108115
start_lat             108115
start_lng             108115
end_lat               108115
end_lng               108115
member_casual         108115
dtype: int64

In [6]:
#drop any rows with missing data for June
jun = jun.dropna(how='any')

jun.count()

ride_id               102985
rideable_type         102985
started_at            102985
ended_at              102985
start_station_name    102985
start_station_id      102985
end_station_name      102985
end_station_id        102985
start_lat             102985
start_lng             102985
end_lat               102985
end_lng               102985
member_casual         102985
dtype: int64

In [7]:
#drop any rows with missing data for May
may = may.dropna(how='any')

may.count()

ride_id               80296
rideable_type         80296
started_at            80296
ended_at              80296
start_station_name    80296
start_station_id      80296
end_station_name      80296
end_station_id        80296
start_lat             80296
start_lng             80296
end_lat               80296
end_lng               80296
member_casual         80296
dtype: int64

In [8]:
#combined all the months
cleaned_data = pd.concat([may, jun, jul, aug, sept], ignore_index=True)

In [9]:
#checking the rows
cleaned_data.count()

ride_id               510131
rideable_type         510131
started_at            510131
ended_at              510131
start_station_name    510131
start_station_id      510131
end_station_name      510131
end_station_id        510131
start_lat             510131
start_lng             510131
end_lat               510131
end_lng               510131
member_casual         510131
dtype: int64

In [10]:
cleaned_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FC9EB68D6501F079,electric_bike,2022-05-15 14:02:06,2022-05-15 14:05:44,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.735938,-74.030305,40.740973,-74.028603,member
1,932A2D5E45ACED5B,electric_bike,2022-05-13 15:30:14,2022-05-13 15:33:03,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.735938,-74.030305,40.740973,-74.028603,casual
2,8C0CD371C7A5795C,electric_bike,2022-05-31 20:41:39,2022-05-31 22:04:47,Hoboken Terminal - Hudson St & Hudson Pl,HB101,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.735938,-74.030305,40.736982,-74.027781,casual
3,0B0F776B55C85AB8,classic_bike,2022-05-26 16:49:12,2022-05-26 16:57:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,40.735938,-74.030305,40.735208,-74.046964,member
4,7F26419866A3BE99,electric_bike,2022-05-23 16:45:16,2022-05-23 16:51:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,40.735938,-74.030305,40.735208,-74.046964,casual

In [39]:
start_lat_lng = cleaned_data[["start_station_id", "start_lat", "start_lng"]]
start_lat_lng.head()

  start_station_id  start_lat  start_lng
0            HB101  40.735938 -74.030305
1            HB101  40.735938 -74.030305
2            HB101  40.735938 -74.030305
3            HB101  40.735938 -74.030305
4            HB101  40.735938 -74.030305

In [40]:
#finding the average lat and lng for each station starting
start= start_lat_lng.groupby(start_lat_lng['start_station_id']).mean()

start.head()

                  start_lat  start_lng
start_station_id
HB101             40.735937 -74.030311
HB102             40.736079 -74.029128
HB103             40.736992 -74.027779
HB105             40.737347 -74.030979
HB201             40.750608 -74.024033

In [43]:
#merging cleaned data with aveg lat and lng for start
final_data = pd.merge(cleaned_data, start, how ="left", on=["start_station_id","start_station_id"])


#dropping the extra column 
final=final_data.drop(columns=['start_lat_x', 'start_lng_x'])
final.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,end_lat,end_lng,member_casual,start_lat_y,start_lng_y
0,FC9EB68D6501F079,electric_bike,2022-05-15 14:02:06,2022-05-15 14:05:44,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.740973,-74.028603,member,40.735937,-74.030311
1,932A2D5E45ACED5B,electric_bike,2022-05-13 15:30:14,2022-05-13 15:33:03,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.740973,-74.028603,casual,40.735937,-74.030311
2,8C0CD371C7A5795C,electric_bike,2022-05-31 20:41:39,2022-05-31 22:04:47,Hoboken Terminal - Hudson St & Hudson Pl,HB101,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.736982,-74.027781,casual,40.735937,-74.030311
3,0B0F776B55C85AB8,classic_bike,2022-05-26 16:49:12,2022-05-26 16:57:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046964,member,40.735937,-74.030311
4,7F26419866A3BE99,electric_bike,2022-05-23 16:45:16,2022-05-23 16:51:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046964,casual,40.735937,-74.030311

In [34]:
end_lat_lng = cleaned_data[["end_station_id", "end_lat", "end_lng"]]
end_lat_lng.head()

  end_station_id    end_lat    end_lng
0          HB607  40.740973 -74.028603
1          HB607  40.740973 -74.028603
2          HB103  40.736982 -74.027781
3          JC105  40.735208 -74.046964
4          JC105  40.735208 -74.046964

In [37]:
#finding the average lat and lng for each station ending
end= end_lat_lng.groupby(end_lat_lng['end_station_id']).mean()

end.head()

                  end_lat    end_lng
end_station_id
3696.05         40.663062 -73.953875
4161.01         40.678600 -73.903690
4243.01         40.681212 -74.008609
4476.03         40.690081 -73.947915
4553.04         40.691283 -73.945242

In [44]:
#merging cleaned data with aveg lat and lng for start
complete_data = pd.merge(final, end, how ="left", on=["end_station_id","end_station_id"])


#dropping the extra column 
complete=complete_data.drop(columns=['end_lat_x', 'end_lng_x'])
complete.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,start_lat_y,start_lng_y,end_lat_y,end_lng_y
0,FC9EB68D6501F079,electric_bike,2022-05-15 14:02:06,2022-05-15 14:05:44,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,member,40.735937,-74.030311,40.740973,-74.028603
1,932A2D5E45ACED5B,electric_bike,2022-05-13 15:30:14,2022-05-13 15:33:03,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,casual,40.735937,-74.030311,40.740973,-74.028603
2,8C0CD371C7A5795C,electric_bike,2022-05-31 20:41:39,2022-05-31 22:04:47,Hoboken Terminal - Hudson St & Hudson Pl,HB101,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,casual,40.735937,-74.030311,40.736982,-74.027781
3,0B0F776B55C85AB8,classic_bike,2022-05-26 16:49:12,2022-05-26 16:57:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,member,40.735937,-74.030311,40.735208,-74.046964
4,7F26419866A3BE99,electric_bike,2022-05-23 16:45:16,2022-05-23 16:51:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,casual,40.735937,-74.030311,40.735208,-74.046964

In [47]:
cleaned_data=complete.rename(columns={"start_lat_y":"start_lat", "start_lng_y": "start_lng", "end_lat_y": "end_lat", "end_lng_y": "end_lng"})
cleaned_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,start_lat,start_lng,end_lat,end_lng
0,FC9EB68D6501F079,electric_bike,2022-05-15 14:02:06,2022-05-15 14:05:44,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,member,40.735937,-74.030311,40.740973,-74.028603
1,932A2D5E45ACED5B,electric_bike,2022-05-13 15:30:14,2022-05-13 15:33:03,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,casual,40.735937,-74.030311,40.740973,-74.028603
2,8C0CD371C7A5795C,electric_bike,2022-05-31 20:41:39,2022-05-31 22:04:47,Hoboken Terminal - Hudson St & Hudson Pl,HB101,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,casual,40.735937,-74.030311,40.736982,-74.027781
3,0B0F776B55C85AB8,classic_bike,2022-05-26 16:49:12,2022-05-26 16:57:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,member,40.735937,-74.030311,40.735208,-74.046964
4,7F26419866A3BE99,electric_bike,2022-05-23 16:45:16,2022-05-23 16:51:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,casual,40.735937,-74.030311,40.735208,-74.046964

In [48]:
cleaned_data.to_csv("Data/cleaned_data.csv", index=False, encoding="ISO-8859-1")