In [1]:
#Dependencies
import os
import numpy as np
import pandas as pd

In [2]:
#import csv data
sept =pd.read_csv('Data/JC-202209-citibike-tripdata.csv',)
aug = pd.read_csv('Data/JC-202208-citibike-tripdata.csv',)
jul = pd.read_csv('Data/JC-202207-citbike-tripdata.csv',)
jun = pd.read_csv('Data/JC-202206-citibike-tripdata.csv',)
may = pd.read_csv('Data/JC-202205-citibike-tripdata.csv',)

In [10]:
#drop any rows with missing data for September
sept = sept.dropna(how='any')

sept.count()

ride_id               103895
rideable_type         103895
started_at            103895
ended_at              103895
start_station_name    103895
start_station_id      103895
end_station_name      103895
end_station_id        103895
start_lat             103895
start_lng             103895
end_lat               103895
end_lng               103895
member_casual         103895
dtype: int64

In [13]:
#drop any rows with missing data for August
aug = aug.dropna(how='any')

aug.count()

ride_id               114840
rideable_type         114840
started_at            114840
ended_at              114840
start_station_name    114840
start_station_id      114840
end_station_name      114840
end_station_id        114840
start_lat             114840
start_lng             114840
end_lat               114840
end_lng               114840
member_casual         114840
dtype: int64

In [15]:
#drop any rows with missing data for July
jul = jul.dropna(how='any')

jul.count()

ride_id               108115
rideable_type         108115
started_at            108115
ended_at              108115
start_station_name    108115
start_station_id      108115
end_station_name      108115
end_station_id        108115
start_lat             108115
start_lng             108115
end_lat               108115
end_lng               108115
member_casual         108115
dtype: int64

In [17]:
#drop any rows with missing data for June
jun = jun.dropna(how='any')

jun.count()

ride_id               102985
rideable_type         102985
started_at            102985
ended_at              102985
start_station_name    102985
start_station_id      102985
end_station_name      102985
end_station_id        102985
start_lat             102985
start_lng             102985
end_lat               102985
end_lng               102985
member_casual         102985
dtype: int64

In [19]:
#drop any rows with missing data for May
may = may.dropna(how='any')

may.count()

ride_id               80296
rideable_type         80296
started_at            80296
ended_at              80296
start_station_name    80296
start_station_id      80296
end_station_name      80296
end_station_id        80296
start_lat             80296
start_lng             80296
end_lat               80296
end_lng               80296
member_casual         80296
dtype: int64

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FC9EB68D6501F079,electric_bike,2022-05-15 14:02:06,2022-05-15 14:05:44,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.735938,-74.030305,40.740973,-74.028603,member
1,932A2D5E45ACED5B,electric_bike,2022-05-13 15:30:14,2022-05-13 15:33:03,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.735938,-74.030305,40.740973,-74.028603,casual
2,8C0CD371C7A5795C,electric_bike,2022-05-31 20:41:39,2022-05-31 22:04:47,Hoboken Terminal - Hudson St & Hudson Pl,HB101,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.735938,-74.030305,40.736982,-74.027781,casual
4,0B0F776B55C85AB8,classic_bike,2022-05-26 16:49:12,2022-05-26 16:57:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,40.735938,-74.030305,40.735208,-74.046964,member
5,7F26419866A3BE99,electric_bike,2022-05-23 16:45:16,2022-05-23 16:51:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,40.735938,-74.030305,40.735208,-74.046964,casual

In [21]:
cleaned_data = pd.concat([may, jun, jul, aug, sept], ignore_index=True)

In [23]:
cleaned_data.count()

ride_id               510131
rideable_type         510131
started_at            510131
ended_at              510131
start_station_name    510131
start_station_id      510131
end_station_name      510131
end_station_id        510131
start_lat             510131
start_lng             510131
end_lat               510131
end_lng               510131
member_casual         510131
dtype: int64

In [24]:
cleaned_data.to_csv("Data/cleaned_data.csv", index=False, encoding="ISO-8859-1")